.productCard {
  background-color: white;
  border-radius: 1rem;
  color: #333;
  padding-bottom: 20px;
  width: 250px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.productImg {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}

.productDescription {
  color: #333;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.buttonsContainer {
  color: #333;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonMinus {
  color: #333;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px 0px 0px 5px;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonMinus:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.countLabel {
  color: #333;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 16px;
  text-align: center;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonAdd {
  color: #333;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0px 5px 5px 0px;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonAdd:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
